<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>WikiHistory Vis</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css')}}"/>
{#    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>#}
    <link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='sticky-footer-navbar.css')}}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>
{#    <link href='http://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'/>#}
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {% block data %}{% endblock %}
            <br>
{#            {% block error %}{% endblock %}#}
{#            {% block home %}{% endblock %}#}
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-fluid">
    </div>
</footer>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src={{ url_for('static', filename="main.js") }}></script>
</body>
</html>